* {
    box-sizing:border-box;
    margin: 0;
  }  

body {
    font-family: "Roboto", sans-serif;
}  

.boxHeader {
    padding: 2em;
    text-align: center;
    font-size: 1.8rem;
    background-color: #FFD3C6;
    color: #3C4169;
}

.boxButtons {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.group_buttons {
    font-size: 2.5em;
    border-radius: 1.5em;
    border: none;
    margin: 1em;
    color: #3C4169;
    font-weight: 700;
}

.button_Filmes {
    background-color: #A699DC
}

.button_Series{
    background-color: #E387A2
}

#button_Sortear {
    display: block;
    padding: 1em;
    background-color: #fbdb49;
    color: #212122;
}

#resultado {
    text-align: center;
    font-size: 4em;
    padding: 1em;
    background-color: #f5e393;
}

#button_Sortear:hover {
    background-color: #9cf0c9;
}


ul{
    list-style: none;
    padding: 1rem;
    font-size: 2em;
    text-align: center;
    color: #5d5670;
}

h2 {
    padding: 2.5rem;
    font-size: 2.5em;
    background-color: #5d5670;
    color: white;
    text-align: center;
}

/*ajustar que ta feio*/
#button_addMovie{
    display: block;
    padding: 1em;
    background-color: #7b69ac;
    color: #212122;
    font-size: 2em;
    border-radius: 2em;
    border: none;
}

