* {
    box-sizing:border-box;
    margin: 0;
  }  

body {
    font-family: "Roboto", sans-serif;
}  

.boxHeader {
    padding: 2em;
    text-align: center;
    font-size: 1.8rem;
    background-color: #C7C6FF;
    color: #3C4169;
}


.button_Series{
    background-color: #E387A2
}

.boxButtons {
    background-color:#fbdb49 ;
    width: 100%;
    border: none;
    font-size: 4rem;
    font-weight: 700;
}

#resultado {
    text-align: center;
    font-size: 4em;
    padding: 1em;
    background-color: #f5e393;
}

#button_Sortear:hover {
    background-color: #9cf0c9;
    
    
}

ul{
    list-style: none;
    padding: 1rem;
    font-size: 2em;
    text-align: left;
    color: #5d5670;
    
}

h2 {
    padding: 2.5rem;
    font-size: 2.5em;
    background-color: #5d5670;
    color: white;
    text-align: center;
}


#button_addMovie{
    padding: 1em;
    background-color: #7b69ac;
    color: #212122;
    font-size: 2em;
    border: none;
    width: 100%;
}

.boxMovieList{
    width: 100%;
    margin-right: 2.5rem;
}

.boxMain{
    display: flex;
    margin: 4rem;
}



